@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');


:root {
    --textBoxColor: rgb(203, 208, 185,0.8);
    --buttonBoxColor: #656839;

    --fontTitle: "Imperial Script";
    --fontP: "Inter",sans-serif;

    --radiusText: 20px;
    --radiusButton: 10px;

}
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/8e60c54d673b47f4a8e861b650cea60f.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
 
main {
    section {
        background-color: var(--textBoxColor);
        width: 50%;
        height: 6rem;
        margin: 8% auto 0 auto;
        padding: 2rem;
        border-radius: var(--radiusText);

        p {
            font-size: 1.5em;
            font-family: var(--fontP);
            text-align: center;
        }
    }
    .btn {
        display: flex;
        justify-content: space-around;
        margin-top: 6em;
        button {
            color: white;
            font-family: var(--fontP);
            background-color: var(--buttonBoxColor);
            cursor: pointer;
            height: 7rem;
            width: 30%;
            font-size: 1.3em;
            border-radius: var(--radiusButton);
            padding: 1rem;
            transition: transform 0.2s;
           
        }
        :hover{
            transform: scale(1.2);
            
        }
    }
}