@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');


:root {
    --textBoxColor: rgb(203, 208, 185,0.8);
    --buttonBoxColor: #656839;

    --fontTitle: "Imperial Script";
    --fontP: "Inter",sans-serif;

    --radiusText: 20px;
    --radiusButton: 10px;

}
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/fond_armure.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


header {
    display: flex;
    justify-content: flex-end;
}
#button-accueil {
  left: 0;
}
#button-accueil, #play-pause-button, #back-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
    font-size: 1rem;
    background-color: var(--buttonBoxColor);
    color: white;
    border: none;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
}

#back-button {
    right: 82px;
}

#back-button:hover {
    background-color: var(--textBoxColor);
}

#play-pause-button:hover {
    background-color: var(--textBoxColor);
}
.imgIcone {
  height: 80%;
  width: 80%;
  filter: invert(100%);
}
.imgBack {
height: 60%;
width: 40%;
filter: invert(100%);
}
main {
    section {
        background-color: var(--textBoxColor);
        width: 50%;
        height: 6rem;
        margin: 8% auto 0 auto;
        padding: 2rem;
        border-radius: var(--radiusText);

        p {
            font-size: 1.5em;
            font-family: var(--fontP);
            text-align: center;
        }
    }
    .btn {
        display: flex;
        justify-content: space-around;
        margin-top: 6em;
        button {
            color: white;
            font-family: var(--fontP);
            background-color: var(--buttonBoxColor);
            cursor: pointer;
            height: 7rem;
            width: 30%;
            font-size: 1.3em;
            border-radius: var(--radiusButton);
            padding: 1rem;
            transition: transform 0.2s;
           
        }
        :hover{
            transform: scale(1.2);
            
        }
    }
}
#popup-overlay{
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 98;
    display : none;
  }
  
  #popup-overlay.open{
    display: block !important;
  }
  
  .popup-content {
    width: 500px;
    height: 363px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: url("assets/FondPopUp.png") ;
    border-radius: var(--radiusText);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: var(--fontP);
    text-align: center;
    line-height:2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    p{
      margin:20px 0;
    }
  }
  
  .popup-button {
    color: var(--buttonBoxColor);
    posisiton : absolute;
  }
  