@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --textBoxColor: rgb(203, 208, 185, 0.6);
    --buttonBoxColor: #656839;
    --fontTitle: Mate SC;
    --fontP: "Inter", sans-serif;
    --fontColor: whitesmoke;
    --radiusText: 20px;
    --radiusButton: 10px;
}

body {
    font-family: var(--fontP);
    background: url('img/03-bisBG.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    #play-pause-button,
    #back-button,
    #button-accueil {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 80px;
        font-size: 1rem;
        background-color: var(--buttonBoxColor);
        color: var(--fontColor);
        border: none;
        border-radius: 0 0 20px 20px;
        cursor: pointer;
    }

    #back-button {
        right: 82px;
    }

    #button-accueil {
        left: 0;
    }

    #back-button:hover {
        background-color: var(--textBoxColor);
    }

    #play-pause-button:hover {
        background-color: var(--textBoxColor);
    }

    #button-accueil:hover {
        background-color: var(--textBoxColor);
    }
}

.imgIcone {
    height: 80%;
    width: 80%;
    filter: invert(100%);
}

.imgBack {
    height: 60%;
    width: 40%;
    filter: invert(100%);  
}

.container {
    text-align: center;

    h1 {
        font-family: var(--fontTitle);
        color: var(--fontColor);
        font-size: 3em;
    }

    .card {
        display: inline-block;
        position: relative;
        width: 420px;
        margin: 3rem;


        h2 {
            position: absolute;
            bottom: 31px;
            width: 100%;
            line-height: 40px;
            background-color: var(--textBoxColor);
            color: var(--fontColor);
            text-align: center;
            font-size: 1.5rem;
        }


        #montagne,
        #foret {
            width: 420px;
            height: 365px;
            margin-bottom: -13px;
            border-radius: 20px 20px 0 0;
        }

    }

    .card p {
        position: absolute;
        margin-top: 0;
        width: 420px;
        height: 120px;
        background-color: var(--textBoxColor);
        color: black;
        border-radius: 0 0 20px 20px;
        padding: 1rem 2rem;
        font-size: 1rem;
        z-index: -1;


    }


    button {
        display: inline-block;
        position: relative;
        top: 70px;
        height: 40px;
        width: 120px;
        background-color: var(--textBoxColor);
        color: var(--fontColor);
        border: none;
        font-size: 1rem;
        cursor: pointer;
        border-radius: var(--radiusButton);
        z-index: 10;
        transition: transform 0.5s, background-color 0.5s;
    }

    button:hover {
        background-color: var(--buttonBoxColor);
    }

    button.zoomed {
        transform: scale(1.5);
        background-color: var(--buttonBoxColor);
    }

}