
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --textBoxColor: rgb(203, 208, 185,0.6);
  --buttonBoxColor: #656839;
  --fontP: "Inter", sans-serif;
  --radiusText : 20px;
  --radiusButton : 10px;
}

html, body { height : 100vh; }

body {

  background: url("assets/salleTrône.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 display: grid;
  grid-template-columns: repeat(auto-fit,3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 30px;
 
 
  .histoire {
    background-color: var(--textBoxColor);
    font-family: var(--fontP);
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
    margin-left: 10%;
    padding: 1rem;
    font-size: clamp(0.4rem, -0.15rem + 2vw, 1.875rem);
    font-weight: 500;
    border-radius: var(--radiusText);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span {
      font-size: smaller;
    }
  }

  .renardor {
    height: 100%;
    grid-area: 2 / 3 / 8 / 4; 
    cursor: url("assets/sword4.png"), pointer;
    transition: transform 0.1s ease;
  }

  .renardor:active {
    animation:beatRenardor 0.1s ease-in;
    transform: scale(0.95);
      
  }

.flammes {
  height: 45%;
  position: fixed;
  bottom: -100px;
  align-items: center;
}


}