@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
:root {
    --textBoxColor: rgb(203, 208, 185, 0.6);
    --buttonBoxColor: #656839;
    --fontTitle: Imperial Script;
    --fontP: Inter;
    --radiusText : 20px;
    --radiusButton : 10px;
}


.backgroundImgEnd {
    background: url("img/brocoliend.png") no-repeat center center fixed;
    background-size: cover;
}

.backTextEnd {
    background-color: var(--textBoxColor);
    border-radius: var(--radiusText);
    text-align: center;
    margin-top: 25vh;
    margin-left: 15vh;
    margin-right: 15vh;
    height: 410px;
}

/* @media screen and (width < 1360px) {
    div {
        height: 500px;
    }
}

@media screen and (width < 1088px) {
    div {
        height: 550px;
    }
}

@media screen and (width < 1036px) {
    div {
        height: 600px;
    }
}

@media screen and (width < 992px) {
    div {
        height: 800px;
    }
} */

h1 {
    margin: 0;
    font-family: var(--fontTitle);
    font-size: 80pt;
}

.textEnd {
    font-family: var(--fontP);
    padding-right: 5rem;
    padding-left: 5rem;
    font-size: 20pt;
}

.buttonFin {
    background-color: var(--buttonBoxColor);
    border-radius: var(--radiusButton);
    color: white;
    height: 50px;
    width: 200px;
    margin: 2rem;
    font-family: var(--fontP);
    font-size: 15pt;
    transition: transform 0.2s;
}

.buttonFin:hover {
    transform: scale(1.2);
}

    /* Boutton Musique + Back */
    #button-accueil {
        left: 0;
    }
    #button-accueil, #play-pause-button, #back-button {
          position: absolute;
          top: 0;
          right: 0;
          height: 40px;
          width: 80px;
          font-size: 1rem;
          background-color: var(--buttonBoxColor);
          color: white;
          border: none;
          border-radius: 0 0 20px 20px;
          cursor: pointer;
          margin: 0;
      }
      
      #back-button {
          right: 82px;
      }
      
      #back-button:hover {
          background-color: var(--textBoxColor);
      }
      
      #play-pause-button:hover {
          background-color: var(--textBoxColor);
      }
      .imgIcone {
        height: 80%;
        width: 80%;
        filter: invert(100%);
    }
    .imgBack {
      height: 60%;
      width: 40%;
      filter: invert(100%);
  }