@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --textBoxColor: rgb(203, 208, 185, 0.6);
    --buttonBoxColor: #656839;
    --fontTitle: Mate SC;
    --fontP: "Inter", sans-serif;
    --radiusText: 20px;
    --radiusButton: 10px;
}

body {
    background: url('assets/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: var(--fontP);
    color: black;
    #play-pause-button {
        float: right;
        margin-top: 5%;
        margin-right: 5%;
        padding: 10px 20px;
        height: 40px;
        width: 80px;
        background-color: var(--buttonBoxColor);
        color: black;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        z-index: 97;
    }
    #play-pause-button:hover {
        background-color: var(--textBoxColor);
    }
    #character {
        width: 650px;
        height: auto;
        position: absolute;
        z-index: -1;
        bottom: 0vh;
        right: 0vh;
        /*width: auto;
        height: 80vh;
        position: fixed;
        bottom: 0vh;
        right: -4vw;*/
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-box,
.answer-input {
    z-index: 10;
}

.text-box {
    background-color: var(--textBoxColor);
    margin-right: 55%;
    margin-left: 5%;
    padding: 25px;
    border-radius: var(--radiusText);
    margin-bottom: 20px;
    max-width: 600px;
    text-align: start;
    p {
        padding: 10px 0
    }
}

#answer-input {
    margin-right: 55%;
    margin-left: 5%;
    padding: 10px;
    font-size: 16px;
    color: black;
    border-radius: 10px;
    border: 1px solid #888;
    width: 200px;
    text-align: center;
    background-color: var(--buttonBoxColor);
    cursor: pointer;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 98;
    display: none;
}

#popup-overlay.open {
    display: block;
}

.popup-content {
    width: 500px;
    height: 363px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: url("assets/FondPopUp.png");
    border-radius: var(--radiusText);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fontP);
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        margin: 20px 0;
    }
}

.popup-button {
    color: var(--buttonBoxColor);
    posisiton: absolute;
}