@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
:root {
    --textBoxColor: rgb(203, 208, 185, 0.6);
    --buttonBoxColor: #656839;
    --fontP: "Inter", sans-serif;
    --radiusText: 20px;
    --radiusButton: 10px;
    --fontColor: whitesmoke;
}

#play-pause-button,
#back-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
    font-size: 1rem;
    background-color: var(--buttonBoxColor);
    color: var(--fontColor);
    border: none;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
}

.Title {
    margin: 2%;
    text-align: center;
    font-family: "Mate SC", serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 12vh;
}

body {
    background-image: url("Assets/field-of-broccoli-with-a-village-2d-style\ .jpeg");
    background-size: cover;
    background-size: no-repeat;
}

.Text {
    background-color: #CBC9AD;
    height: 20vh;
    width: 90vh;
    text-align: center;
    padding: 5%;
    border-radius: var(--radiusText);
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-button {
    right: 82px;
}

#back-button:hover {
    background-color: var(--textBoxColor);
}

.button {
    padding: 3%;
    border-radius: var(--radiusButton);
    margin: 0px 30px 5px 30px;
    color: white;
    font-weight: bold;
    font-size: 3vh;
}

.Btns {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
    justify-content: space-evenly;
}

.imgANDtext {
    display: flex;
    flex-direction: row-reverse;
    font-size: 3.3vh;
    justify-content: space-evenly;
    margin-top: 2.5%;
    margin-bottom: 3%;
    align-items: center;
}

.picture {
    width: 35vh;
}

.button:hover {
    transform: scale(1.2);
}