@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
.hidePoule {
    display: none;
}
.hideLapin{
    display: none;
}
.hideRenard {
    display: none;
}

:root {
    --textBoxColor: rgb(203, 208, 185, 0.6);
    --buttonBoxColor: #656839;

    --fontTitle: Mate SC;
    --fontP: Inter;

    --radiusText : 20px;
    --radiusButton : 10px;
}
.Title {
    font-family: var(--fontTitle);
    font-optical-sizing: auto;
    font-weight: 4000;
    font-style: normal;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center; 

}

    .poule { 
        height: 350px;
        border: 5px solid black;
        border-radius: 80px;
        background-color: #241d1d;
        background-image: url("salleTrone.jpeg");
        filter: drop-shadow(16px 16px 20px black);
        filter: contrast(130%);
        
        }

   .lapin {
            
            height: 350px;
            border: 5px solid black;
            border-radius: 80px;
            background-color: #241d1d;
            background-image: url("salleTrone.jpeg");
            filter: drop-shadow(16px 16px 20px black);
            filter: contrast(130%);
            filter: blur(5px);
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            
            
            
            

            
            
            
            }
     .renard {
        border-radius:  linear-gradient(#f6b73c, #4d9f0c) 30;
        
        height: 350px;
        border: 5px solid black;
        border-radius: 80px;
        background-color: #241d1d;
        background-image: url("salleTrone.jpeg");
        filter: blur(5px);
        filter: drop-shadow(16px 16px 20px black);
        filter: contrast(130%);
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        }

        .align {
            display: flex;
            padding-left: 10%;
            align-items: center;
            
            

        }
   .img{
    width: 20%;
    
    
   }
        
   .texte {
    
    width: 20%;
    font-family: var(--fontP);
    border: 5px solid black;
    border-radius: var(--radiusText);
    padding-right: 3%;
    padding-left: 3%;
    color: black;
    background-color: var(--textBoxColor);
    color : black

}
.texte:hover
{color: white;
} 

    
    

   .bgimgperso{
    background: url("brocoli.jpg") no-repeat center center fixed;
    background-size: cover;

  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

   .backWhite{
    background-color: rgb(255,255,255,0.3);
    height: 100vh;
    }



    .pouleImg:hover + .hidePoule {
    display: block;
    animation-duration: 3s;
    animation-name: slidein;
    }
    
    /* .lapinImg:hover + .hideLapin {
        display: block;
        animation-duration: 3s;
        animation-name: slidein;
        }
    .renardImg:hover + .hideRenard {
            display: block;
            animation-duration: 3s;
            animation-name: slidein;
            } */

@keyframes slidein {
    from {
      margin-left: 50%;
      
    }
  
    to {
      margin-left: 0%;
      
    }
  }