@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
.hidePoule {
    display: none;
}
.hideLapin{
    display: none;
}
.hideRenard {
    display: none;
}

:root {
    --textBoxColor: rgb(203, 208, 185, 0.6);
    --buttonBoxColor: #656839;

    --fontTitle: Mate SC;
    --fontP: Inter;

    --radiusText : 20px;
    --radiusButton : 10px;
}

.Title {
    font-family: var(--fontTitle);
    font-style: normal;
    flex-direction: column;
    align-items: center;
    padding: 4vh;
    text-align: center; 
}

#button-accueil {
    left: 0;
  }
  #button-accueil, #play-pause-button, #back-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 80px;
      font-size: 1rem;
      background-color: var(--buttonBoxColor);
      color: white;
      border: none;
      border-radius: 0 0 20px 20px;
      cursor: pointer;
  }
  
  #back-button {
      right: 82px;
  }
  
  #back-button:hover {
      background-color: var(--textBoxColor);
  }
  
  #play-pause-button:hover {
      background-color: var(--textBoxColor);
  }
  .imgIcone {
    height: 80%;
    width: 80%;
    filter: invert(100%);
  }
  .imgBack {
  height: 60%;
  width: 40%;
  filter: invert(100%);
  }

.poule { 
    height: 27vh;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #241d1d;
    background-image: url("salleTrone.jpeg");
    filter: drop-shadow(16px 16px 20px black);
    filter: contrast(130%);
        
        }

.lapin {           
    height: 27vh;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #241d1d;
    background-image: url("salleTrone.jpeg");
    filter: drop-shadow(16px 16px 20px black);
    filter: contrast(130%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);  
    
}

.lapin:hover {
    content: "Ce personnage n'est pas débloqué";
}

.renard {
    border-radius:  linear-gradient(#f6b73c, #4d9f0c) 30;
    height: 27vh;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #241d1d;
    background-image: url("salleTrone.jpeg");
    filter: blur(5px);
    filter: drop-shadow(16px 16px 20px black);
    filter: contrast(130%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.renard:hover {
    content: "Ce personnage n'est pas débloqué";
}

.align {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
        
.texte { 
    width: 100vh;
    font-size : 2.3vh;
    font-family: var(--fontP);
    border: 5px solid black;
    border-radius: var(--radiusText);
    padding-right: 3%;
    padding-left: 3%;
    color: black;
    background-color: var(--textBoxColor);
    color : black
}

.texte:hover {
    color: white;
} 

.img:hover {
    transform: scale(1.2);
}

.bgimgperso {
    background: url("brocoli.jpg") no-repeat center center fixed;
    background-size: cover;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.backWhite {
    background-color: rgb(255,255,255,0.3);
    height: 100vh;
}

.backWhiteheader {
    background-color: rgb(255,255,255,0.3);
    height: 10vh;
}

/* Bouton Musique */

#button-accueil {
    left: 0;
}
#button-accueil, #play-pause-button, #back-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 80px;
      font-size: 1rem;
      background-color: var(--buttonBoxColor);
      color: white;
      border: none;
      border-radius: 0 0 20px 20px;
      cursor: pointer;
  }
  
  #back-button {
      right: 82px;
  }
  
  #back-button:hover {
      background-color: var(--textBoxColor);
  }
  
  #play-pause-button:hover {
      background-color: var(--textBoxColor);
  }
  .imgIcone {
    height: 80%;
    width: 80%;
    filter: invert(100%);
}
.imgBack {
  height: 60%;
  width: 40%;
  filter: invert(100%);
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 54vh;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 17px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 12vh;
    left: 70vh;
    margin-left: -77px;
    font-size: 3vh;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }