@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

:root {
    --textBoxColor: rgb(203, 208, 185, 0.6);
    --buttonBoxColor: #656839;

    --fontTitle: Mate SC;
    --fontP: Inter;

    --radiusText : 20px;
    --radiusButton : 10px;
}

.Title {
    font-family: var(--fontTitle);
    font-optical-sizing: auto;
    font-weight: 4000;
    font-style: normal;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center; 
}

#button-accueil {
    left: 0;
  }
  #button-accueil, #play-pause-button, #back-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 80px;
      font-size: 1rem;
      background-color: var(--buttonBoxColor);
      color: white;
      border: none;
      border-radius: 0 0 20px 20px;
      cursor: pointer;
  }
  
  #back-button {
      right: 82px;
  }
  
  #back-button:hover {
      background-color: var(--textBoxColor);
  }
  
  #play-pause-button:hover {
      background-color: var(--textBoxColor);
  }
  .imgIcone {
    height: 80%;
    width: 80%;
    filter: invert(100%);
  }
  .imgBack {
  height: 60%;
  width: 40%;
  filter: invert(100%);
  }

.poule { 
    height: 30vh;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #241d1d;
    background-image: url("salleTrone.jpeg");
    filter: drop-shadow(16px 16px 20px black);
    filter: contrast(130%);
        
        }

.lapin {           
    height: 30vh;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #241d1d;
    background-image: url("salleTrone.jpeg");
    filter: drop-shadow(16px 16px 20px black);
    filter: contrast(130%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);  
}

.renard {
    border-radius:  linear-gradient(#f6b73c, #4d9f0c) 30;
    height: 30vh;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #241d1d;
    background-image: url("salleTrone.jpeg");
    filter: blur(5px);
    filter: drop-shadow(16px 16px 20px black);
    filter: contrast(130%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.align {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
        
.texte { 
    width: 100vh;
    font-size : 2.3vh;
    font-family: var(--fontP);
    border: 5px solid black;
    border-radius: var(--radiusText);
    padding-right: 3%;
    padding-left: 3%;
    color: black;
    background-color: var(--textBoxColor);
    color : black
}

.texte:hover {
    color: white;
} 

.img:hover {
    transform: scale(1.2);
}

.bgimgperso {
    background: url("brocoli.jpg") no-repeat center center fixed;
    background-size: cover;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.backWhite {
    background-color: rgb(255,255,255,0.3);
    height: 100vh;
}

.backWhiteheader {
    background-color: rgb(255,255,255,0.3);
    height: 10vh;
}

/* Bouton Musique */

#play-pause-button {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    padding: 10px 20px;
    height: 40px;
    width: 80px;
    background-color: var(--buttonBoxColor);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 50;
  }

  #play-pause-button:hover {
    background-color: var(--textBoxColor);
  }
